.gochi-hand-regular {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    
}

header {
    width: 100vw;
    display: flex;
    font-weight: 700;
}
.logo{
    margin-top: 10vh;
    
}
.log {
    border: 1px solid #000;
    width: 7.2vw;
    height: 5vh;
    display: flex;
    font-size: 2.8vh;
    margin-left: 2.1vw;
    margin-right: 11vw;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    border-radius: 0.5vw;
    place-content: center;
    align-items: center;
}

.head {
    color: #000;
    font-size: 1.5vw;
    display: flex;
    margin-left: 3vw;
    margin-top: 10vh;
}
